.post-header,
.post-content {
  margin-bottom: $spacing-unit;

  a {
    color: $link-blue;
  }
}

.post-panel {
  > .date {
    font-size: 12px;
  }

  > .desc-link {
    font-size: 20px;
    margin-left: 20px;
  }
}
