.post-header,
.post-content {
  margin-bottom: $spacing-unit;

  a {
    color: $link-blue;
  }
}

.post-panel {
  padding: $spacing-unit/2 0;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  position: relative;
  @media screen and (max-width: $on-palm) {
    display: block;
  }

  &:last-child{
    padding-bottom: 25px;
  }

  > .date {
    font-size: 12px;
    width: 65px;
    margin-right: 20px;
    flex-shrink: 0;
    @media screen and (max-width: $on-palm) {
      margin-right: 10px;
    }
  }

  > .category {
    font-size: 12px;
    text-transform: uppercase;
    color: $link-blue;
    @media screen and (max-width: $on-palm) {
      position: absolute;
      top: 20px;
      right: 0;
    }
  }

  > div {flex-grow: 1;}

  > div .desc-link {
    font-size: 20px;
    @media screen and (max-width: $on-palm) {
      font-size: 13px;
    }
  }
}
