.post-header,
.post-content {
  margin-bottom: $spacing-unit;

  a {
    color: $link-blue;
  }
}

.post-panel {

  display: flex;
  align-items: baseline;

  > .date {
    font-size: 12px;
    width: 65px;
    margin-right: 20px;
    flex-shrink: 0;
    @media screen and (max-width: $on-palm) {
      margin-right: 10px;
    }
  }

  > div .desc-link {
    font-size: 20px;
    @media screen and (max-width: $on-palm) {
      font-size: 15px;
    }
  }
}
