.projects {
  margin-top: 60px;
  max-width: 1000px;
}

.project-panel {
  background-color: white;
  padding: 20px;
  margin-bottom: 50px;
  position: relative;

  &.-notes {
    padding: 0 20px;
  }

  > .description {
    width: 49%;
    @media screen and (max-width: 1024px) {
      width: 100%;
    }
  }

  > .image {
    width: 47%;
    max-height: 230px;
    position: absolute;
    top: -30px;
    right: 20px;
    object-fit: cover;
    object-position: 50% 0;
    z-index: 3;
    margin-bottom: 10px;

    -webkit-box-shadow: -5px 5px 21px -4px rgba(0,0,0,0.82);
    -moz-box-shadow: -5px 5px 21px -4px rgba(0,0,0,0.82);
    box-shadow: -5px 5px 21px -4px rgba(0,0,0,0.82);

    @media screen and (max-width: 1024px) {
      position: initial;
      width: 100%;
    }
  }
}

.project-panel:after {
  content: '';
  border: 1px solid $link-blue;
  position: absolute;
  top: -5px;
  left: 5px;
  right: -5px;
  bottom: 5px;
  pointer-events: none;
}

.other-projects {
  margin: 40px 0;

  .project {
    margin-bottom: 20px;
  }

  .desc-link {display: inline-block;}

  .desc-link h3 {
    color: $link-blue;
    font-weight: normal;
    margin-right: 10px;
  }
}
